{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-wrap -m-4 ">
        {% for product in products %}
        <div class="lg:w-1/4  p-4 w-full mt-10 " title="{{product.name}}">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" style="object-fit: contain;" src="{{product.image.url}}">
          </a>
          <div class="mt-4  ">
            <h3 class="text-gray-500 truncate text-base  title-font mb-1">{{product.name}}</h3>
            {% if product.discount_price %}
            <h5 class="text-gray-900 title-font text-lg font-medium">Rs. {{ product.discount_price}}/- <del>{{product.price}}</del></h5>
            {% else %}
           <h5>Rs. {{product.price}}</h5>
           {% endif %}
           <div class="flex mt-2 justify-center"><a href="{% url 'viewProduct' product.slug %}" class="bg-green-400 px-12 py-1 rounded-lg hover:bg-green-700 text-white">Buy</a>
           </div>
          </div>
        </div>
        {% empty %}
        <div class="flex">
          <img src="{% static 'sad.gif' %}" alt="">
          <h2>NOT FOUND</h2>
        </div>
        {% endfor %}
      </div>
    </div>
  
  </section>
{% endblock content %}